# <font color='blue'>Calculando o tamanho da amostra</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Python Version:', python_version())

# Verificando as versões dos pacotes instalados
pandasVersion = !pip show pandas
matplotlibVersion = !pip show matplotlib
print('Pandas', pandasVersion[1])
print("Matplotlib", matplotlibVersion[1])

Python Version: 3.9.13
Pandas Version: 2.0.2
Matplotlib Version: 3.7.1

### Fórmula para calcular o tamanho da amostra
<details>
    <summary>
        <a class="btnfire small stroke"><em class="fas fa-chevron-circle-down"></em>&nbsp;&nbsp;Clique para mais detalhes</a>
    </summary>
    <br>

$n=\frac{N}{1+N(e)^2}$
<br><br>
Onde: <br>
**$n$** representa o tamanho da amostra; <br>
**$N$** representa o tamanho da população; <br>
**$e$** representa a margem de erro. <br>
</details>

In [2]:
# importando os pacotes
import random
import pandas as pd
import numpy as np

In [3]:
# Criando um array de duas dimensões com valores aleatórios.
matriz = np.random.randint(1, 1000, size=20000).reshape(4000, 5)
matriz

array([[833,  96, 727, 539, 953],
       [766, 748, 689, 844,  29],
       [188, 193, 762, 800, 595],
       ...,
       [688, 688, 591, 478, 136],
       [669,  81, 950, 879,  25],
       [146, 168, 879, 298,   9]])

In [4]:
# Criando uma função
def calculaTamanhoDaAmostra(e,N):
    n = (N / (1 + (N*(e**2))))
    return n

In [5]:
# Calculando o tamanho da amostra
tamanhoDaPopulacao = 4000
margemDeErro = 0.05

tamanhoAmostra = calculaTamanhoDaAmostra(margemDeErro, tamanhoDaPopulacao)
tamanhoAmostra

363.63636363636357

In [6]:
# Arredondando o tamanho da amostra
tamanhoAmostra = round(tamanhoAmostra)
tamanhoAmostra

364

In [7]:
# Criando um DataFrame
df = pd.DataFrame(matriz)
df

        0    1    2    3    4
0     833   96  727  539  953
1     766  748  689  844   29
2     188  193  762  800  595
3     199  877  477  747  799
4     207  854  445  653  249
...   ...  ...  ...  ...  ...
3995  976  727  870  403  116
3996  637  330  773  648  228
3997  688  688  591  478  136
3998  669   81  950  879   25
3999  146  168  879  298    9

[4000 rows x 5 columns]

In [8]:
# Gerando um arquivo CSV a partir de um Dataframe
df.to_csv('Dados/massaDeDados.csv')

In [10]:
###### Criando uma amostra aleatória a partir de um arquivo csv
# A variável pulo armazena as linhas que serão desconsideradas ao ler o arquivo CSV  

pulo = sorted(random.sample(range(tamanhoDaPopulacao),tamanhoDaPopulacao-tamanhoAmostra))
df = pd.read_csv('Dados/massaDeDados.csv', skiprows=pulo, header=0, names=["Coluna1", "Coluna2", "Coluna3", "Coluna4", "Coluna5"])
df

      Coluna1  Coluna2  Coluna3  Coluna4  Coluna5
29        246      792      923      665      784
34        164      144      534      836      112
65        502      496      947      760      951
69        574      476      950      601      795
93        323      186      563      723      141
...       ...      ...      ...      ...      ...
3938      517      484       65      375      542
3961       70      479      366      898      590
3963      289      649      131      986      903
3975      901      558      990      146       55
3999      146      168      879      298        9

[364 rows x 5 columns]